.site-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #1e202b;
}
.site-header .branding {
  float: left;
}
.site-header .branding .logo, .site-header .branding .logo-type {
  display: inline-block;
  vertical-align: middle;
}
.site-header .branding .logo {
  margin-right: 10px;
}
.site-header .branding .site-title {
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
}
.site-header .branding .site-description {
  font-size: 10px;
  display: block;
  color: #bfc1c8;
}

.main-navigation {
  float: right;
}
.main-navigation .menu-toggle, .main-navigation .menu {
  vertical-align: middle;
}
.main-navigation .menu-toggle {
  background: none;
  border: 2px solid transparent;
  color: white;
  padding: 20px;
  border-radius: 40px;
  transition: 0.3s ease;
  display: none;
  outline: none;
}
@media screen and (max-width: 990px) {
  .main-navigation .menu-toggle {
    display: inline-block;
  }
}
.main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:active {
  border-color: #009ad8;
  color: #009ad8;
}
.main-navigation .menu {
  list-style: none;
  display: inline-block;
}
@media screen and (max-width: 990px) {
  .main-navigation .menu {
    display: none;
  }
}
.main-navigation .menu .menu-item {
  float: left;
  margin-left: 10px;
}
.main-navigation .menu .menu-item a {
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  transition: 0.3s ease;
  font-weight: 400;
}
.main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
  border-color: #009ad8;
  color: #009ad8;
}

.mobile-navigation {
  padding: 30px 0 0;
  clear: both;
  display: none;
}
@media screen and (min-width: 991px) {
  .mobile-navigation {
    display: none !important;
  }
}
.mobile-navigation .menu {
  background: #262936;
  list-style: none;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
.mobile-navigation .menu a {
  padding: 20px;
  display: block;
  color: white;
}
.mobile-navigation .menu .menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-navigation .menu .menu-item:last-child {
  border-bottom: none;
}
.mobile-navigation .menu .menu-item.current-menu-item a {
  color: #009ad8;
}
