body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  background: #1e202b;
}

a {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px ) {
    .container {width: 1170px;}
}

.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container {
  width: 100%;
  background: #323544;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
}
.forecast-container .forecast {
  display: table-cell;
  vertical-align: top;
}
.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}
@media screen and (max-width: 990px) {
  .forecast-container .forecast {
    display: block;
    width: 16.6667%;
    float: left;
  }
}
.forecast-container .forecast.today {
  width: 420px;
}

.forecast-container .forecast.today .forecast-header:after {
  content : " ";
  clear   : both;
  display : block;
  overflow: hidden;
  height  : 0;
}

.forecast-container .forecast.today .forecast-header .day {
  float: left;
}
.forecast-container .forecast.today .forecast-header .date {
  float: right;
}
.forecast-container .forecast.today .forecast-content {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.forecast-container .forecast.today .location {
  font-size: 18px;
  font-weight: 400;
}
.forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
  display: inline-block;
  vertical-align: middle;
}
.forecast-container .forecast.today .degree .num {
  font-size: 70px;
  margin-right: 30px;
}
.forecast-container .forecast.today span {
  margin-right: 20px;
}
.forecast-container .forecast.today span img {
  margin-right: 5px;
  vertical-align: middle;
}
@media screen and (max-width: 990px) {
  .forecast-container .forecast.today {
    display: block;
    width: 100%;
  }
}
.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
}
.forecast-container .forecast .forecast-icon {
  height: 50px;
}
.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}
.forecast-container .forecast .forecast-content .forecast-icon {
  margin-bottom: 20px;
}
.forecast-container .forecast .forecast-content .degree {
  color: white;
  font-weight: 700;
}

.hero {
  background-image: url("http://res.cloudinary.com/duongph/image/upload/v1524926562/temp2_mkis6e.jpg");
  background-size: cover;
  padding: 70px 0;
  min-height: 210px;
}

.find-location {
  position: relative;
  margin-bottom: 70px;
}

.find-location input[type=text] {
  width: 94%;
  padding: 20px 50px 20px 20px;
  /*background: #1e202b;*/
  color: black;
  outline: none;
  border: none;
  border-radius: 30px;
}
.load-weather {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  border: none;
  background: #009ad8;
  border-radius: 30px;
  color: white;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
